@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,900&display=swap");

body {
  background-color: #f3f3f3;
}

header nav.navbar {
  padding: 0;
  background-color: #f8f8f8;
}

header nav .navbar-brand {
  width: 81px;
}

header nav ul li a {
  color: #2e2e2e !important;
  font-weight: 600;
  margin-right: 42px;
}

header nav .icons {
  display: flex;
  align-items: center;
}

header nav .icons .drop {
  position: relative;
  right: -15px;
}

@media (max-width: 991.98px) {
  header nav .icons .drop {
    position: relative;
    right: 0px;
  }
}

header nav .icons .imgs-2 {
  width: 25px;
  margin-top: -9px;
}

header nav .icons .search {
  color: #9f007e;
}

header nav .icons svg {
  margin-right: 30px;
  font-size: 18px;
  color: #2e2e2e;
}

header nav .icons img.profile {
  width: 25px;
}

header nav .basket::after {
  content: "5";
  position: absolute;
  background-color: red;
  height: 15px;
  width: 15px;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 10px;
  top: 9px;
  right: 25px;
}

header nav .profile {
  width: 32px;
  margin-left: 20px;
  cursor: pointer;
}

header nav .profile-1::after {
  content: "";
  position: absolute;
  background-color: #00d900;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  right: 0px;
  top: 0px;
}

@media (min-width: 992px) and (max-width: 1200.98px) {
  header nav .profile-1::after {
    right: -22px;
    top: 3px;
  }

  header nav svg.baskets {
    width: 23px !important;
  }

  header nav svg.search {
    width: 20px;
  }

  header nav svg.bell {
    width: 19px;
  }

  header nav svg.heart {
    width: 20px;
  }

  header nav.navbar {
    padding: 10px;
  }

  header nav .button-3 {
    font-size: 8px !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  line-height: 0.8;
}

header nav .bell:hover,
.heart:hover {
  fill: #9f007e;
  cursor: pointer;
}

header nav .search-1:hover path#search,
header nav .search-1:hover line#search,
header nav .basket-1:hover path#basket {
  stroke: #9f007e;
}

header nav .search-1:hover,
header nav .basket-1:hover {
  cursor: pointer;
}

.heart {
  width: 24px;
}

header nav svg.baskets {
  width: 30px;
}

header nav .box-1 {
  background-color: white;
  position: absolute;
  top: 63px;
  width: 26rem;
  right: 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px #eee;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}

@media (max-width: 991.98px) {
  header nav .box-1 {
    top: 50px;
    right: -12rem;
  }
}

header nav .basket-1:hover .box-1 {
  opacity: 1;
  z-index: 1;
}

header nav .content-1 {
  margin-bottom: 32px;
}

header nav .box-1 .img-3 {
  border-radius: 15px;
  width: 30%;
  float: left;
  margin-right: 12px;
}

header nav p.pp {
  line-height: 1.3;
  font-weight: bold;
  font-size: 15px;
}

header nav p.pp-1 {
  font-size: 14px;
  color: #70718e;
  margin-top: -12px;
}

header nav p.pp-2 {
  margin-top: -12px;
  margin-bottom: 4px;
  font-weight: bold;
}

header nav del.pp-3 {
  margin-left: 17px;
  color: #b9a6a6;
  font-weight: 500;
}

header nav p.pp-4 {
  float: left;
  margin-right: 12px;
}

header nav span.pp-5,
header nav p.pp-4 {
  font-weight: bold;
}

header nav .button-1 {
  background-color: #9f007e !important;
  border-color: #9f007e;
  width: 47%;
  font-weight: bold;
  font-size: 15px;
}

header nav .button-2 {
  background-color: snow !important;
  color: #9f007e !important;
  border-color: #9f007e;
  width: 47%;
  font-weight: bold;
  font-size: 15px;
  margin-left: 18px;
}

/* bell */
header nav .box-4 {
  background-color: white;
  position: absolute;
  top: 57px;
  width: 22rem;
  right: 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px #eee, 0px 0px 20px 0px #0a6d8d33;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}

@media (max-width: 991.98px) {
  header nav .box-4 {
    top: 43px;
    right: -5rem;
  }
}

header nav .bell-1:hover .box-4 {
  opacity: 1;
  z-index: 1;
}

header nav .box-4 p.pp-6 {
  float: left;
  margin-right: 30px;
  background-color: #ffebfb;
  padding: 1px 25px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
}

header nav .box-4 h6 {
  margin-bottom: 15px;
  font-weight: bold;
}

header nav .box-4 img.img-fluid.man {
  float: left;
  width: 22%;
  margin-right: 10px;
}

header nav .box-4 .person {
  margin-top: 21px;
}

header nav .box-4 .person p {
  font-size: 15px;
  padding-top: 12px;
}

header nav .box-4 .person span {
  color: #686868;
  font-weight: 400;
}

/* heart */
header nav .heart-1 .box-1.box-private {
  opacity: 0;
  z-index: -1;
}

header nav .heart-1:hover .box-1.box-private {
  opacity: 1;
  z-index: 1;
}

header nav .heart-1 .box-1.box-private .img-4 {
  width: 5.5rem;
}

header nav .heart-1 .box-1.box-private {
  top: 57px;
}

@media (max-width: 991.98px) {

  .heart-1 .box-1.box-private,
  header nav .heart-1 .box-1.box-private {
    top: 44px;
    right: -11rem;
  }
}

/* search */
header nav .search-1 .box-5 {
  position: absolute;
  top: 56px;
  width: 20rem;
  right: 0rem;
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
}

header nav .search-1:hover .box-5 {
  opacity: 1;
  z-index: 1;
}

@media (max-width: 991.98px) {
  header nav .search-1 .box-5 {
    top: 44px;
    right: -11rem;
  }
}

header nav .search-1 .box-5 input::placeholder {
  transform: translateX(5px);
}

header nav .search-1 .box-5 input.form-control {
  padding: .600rem 0.9rem 0.6rem 1.9rem;
}

header nav .search-1 .box-5 .glass {
  transform: translate(10px, -34px);
  color: #77777752;
}

header nav .login .h6 {
  margin-right: 34px;
  margin-left: 8px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header nav .button-3 {
  width: 100%;
}

.login-1 .box {
  height: 655px;
  width: 932px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
}

.login-1 .h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #707070;
  font-size: 25px;
  font-weight: bold;
  padding: 60px;
}

.login-1 .p1 {
  font-size: 10px;
  font-weight: bold;
  color: #80879b;
  margin: -49px -42px 30px 270px;
  text-align: center;
  width: 24rem;
}

.login-1 .form-1 {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.login-1 .p2 {
  color: #10182f;
  font-size: 14px;
  font-weight: bold;
  margin: 19px 5px 25px -3px;
}

.login-1 .input-1 {
  border-radius: 4px;
  width: 22rem;
  height: 3rem;
  background-color: white;
  color: black;
  font-size: 14px;
  padding-left: 17px;
  border: 1px solid #dae1f5;
  margin: -24px 0 0 -5px;
  outline: none;
}

.login-1 .input-2 {
  border-radius: 4px;
  width: 22rem;
  height: 3rem;
  margin-top: 20px;
  background-color: #9f007e;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  margin: 30px 0 0 -5px;
}

.login-1 .back-to {
  color: #767e96;
  font-size: 14px;
  text-align: center;
  margin-top: 45px;
}

.login-1 div .p1 {
  font-size: 10px;
  font-weight: bold;
  color: #80879b;
  text-align: center;
  margin-top: -54px;
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) and (max-width: 800px) {
  .login-1 .box {
    width: 100%;
    margin-top: -30px;
    border-radius: 0px;
  }
}

@media (min-width: 800px) {
  .login-1 .box {
    width: 70%;
    margin-top: 0px;
  }
}

@media (max-width: 500px) {
  .login-1 .box {
    width: 100%;
    margin-top: -30px;
  }
}