@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,900&display=swap");

body {
  font-family: 'Mulish', sans-serif;
}

header nav.navbar {
  padding: 0;
  background-color: #f8f8f8;
}

header nav .navbar-brand {
  width: 81px;
}

header nav ul li a {
  color: #2e2e2e !important;
  font-weight: 600;
  margin-right: 42px;
}

header nav .icons {
  display: flex;
  align-items: center;
}

header nav .icons .drop {
  position: relative;
  right: -15px;
}

@media (max-width: 991.98px) {
  header nav .icons .drop {
    position: relative;
    right: 0px;
  }
}

header nav .icons .imgs-2 {
  width: 25px;
  margin-top: -9px;
}

header nav .icons .search {
  color: #9f007e;
}

header nav .icons svg {
  margin-right: 30px;
  font-size: 18px;
  color: #2e2e2e;
}

header nav .icons img.profile {
  width: 25px;
}

header nav .basket::after {
  position: absolute;
  background-color: red;
  height: 15px;
  width: 15px;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 10px;
  top: 9px;
  right: 25px;
}

header nav .profile {
  width: 32px;
  margin-left: 20px;
  cursor: pointer;
}

header nav .profile-1::after {
  content: "";
  position: absolute;
  background-color: #00d900;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  right: 0px;
  top: 0px;
}

@media (min-width: 992px) and (max-width: 1200.98px) {
  header nav .profile-1::after {
    right: -22px;
    top: 3px;
  }

  header nav svg.baskets {
    width: 23px !important;
  }

  header nav svg.search {
    width: 20px;
  }

  header nav svg.bell {
    width: 19px;
  }

  header nav svg.heart {
    width: 20px;
  }

  header nav.navbar {
    padding: 10px;
  }
}

.navbar-light .navbar-nav .nav-link {
  line-height: 0.8;
}

header nav .bell:hover,
.heart:hover {
  fill: #9f007e;
  cursor: pointer;
}

header nav .search-1:hover path#search,
header nav .search-1:hover line#search,
header nav .basket-1:hover path#basket {
  stroke: #9f007e;
}

header nav .search-1:hover,
header nav .basket-1:hover {
  cursor: pointer;
}

.heart {
  width: 24px;
}

header nav svg.baskets {
  width: 30px;
}

header nav .box-1 {
  background-color: white;
  position: absolute;
  top: 63px;
  width: 26rem;
  right: 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px #eee;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}

@media (max-width: 991.98px) {
  header nav .box-1 {
    top: 50px;
    right: -4.5rem;
  }
}

@media (max-width: 470.98px) {
  header nav .box-1 {
    width: 21rem;
    right: -2.5rem;
  }

  header nav .button-2 {
    margin-left: 0px !important;
  }

  .heart-1 .box-1.box-private,
  header nav .heart-1 .box-1.box-private {
    right: -9.5rem !important;
  }

  header nav .box-4 {
    right: -6rem !important;
    width: 20rem !important;
  }

  header nav .search-1 .box-5 {
    width: 16rem !important;
  }
}

header nav .basket-1:hover .box-1 {
  opacity: 1;
  z-index: 1;
}

header nav .content-1 {
  margin-bottom: 32px;
}

header nav .box-1 .img-3 {
  border-radius: 15px;
  width: 30%;
  float: left;
  margin-right: 12px;
}

header nav p.pp {
  line-height: 1.3;
  font-weight: bold;
  font-size: 15px;
}

header nav p.pp-1 {
  font-size: 14px;
  color: #70718e;
  margin-top: -12px;
}

header nav p.pp-2 {
  margin-top: -12px;
  margin-bottom: 4px;
  font-weight: bold;
}

header nav del.pp-3 {
  margin-left: 17px;
  color: #b9a6a6;
  font-weight: 500;
}

header nav p.pp-4 {
  float: left;
  margin-right: 12px;
}

header nav span.pp-5,
header nav p.pp-4 {
  font-weight: bold;
}

header nav .button-1 {
  background-color: #9f007e !important;
  border-color: #9f007e;
  width: 47%;
  font-weight: bold;
  font-size: 15px;
}

header nav .button-2 {
  background-color: snow !important;
  color: #9f007e !important;
  border-color: #9f007e;
  width: 47%;
  font-weight: bold;
  font-size: 15px;
  margin-left: 18px;
}

/* bell */
header nav .box-4 {
  background-color: white;
  position: absolute;
  top: 57px;
  width: 22rem;
  right: 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px #eee, 0px 0px 20px 0px #0a6d8d33;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}

@media (max-width: 991.98px) {
  header nav .box-4 {
    top: 43px;
    right: -5rem;
  }
}

header nav .bell-1:hover .box-4 {
  opacity: 1;
  z-index: 1;
}

header nav .box-4 p.pp-6 {
  float: left;
  margin-right: 30px;
  background-color: #ffebfb;
  padding: 1px 25px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
}

header nav .box-4 h6 {
  margin-bottom: 15px;
  font-weight: bold;
}

header nav .box-4 img.img-fluid.man {
  float: left;
  width: 22%;
  margin-right: 10px;
}

header nav .box-4 .person {
  margin-top: 21px;
}

header nav .box-4 .person p {
  font-size: 15px;
  padding-top: 12px;
}

header nav .box-4 .person span {
  color: #686868;
  font-weight: 400;
}

/* heart */
header nav .heart-1 .box-1.box-private {
  opacity: 0;
  z-index: -1;
}

header nav .heart-1:hover .box-1.box-private {
  opacity: 1;
  z-index: 1;
}

header nav .heart-1 .box-1.box-private .img-4 {
  width: 5.5rem;
}

header nav .heart-1 .box-1.box-private {
  top: 57px;
}

@media (max-width: 991.98px) {

  .heart-1 .box-1.box-private,
  header nav .heart-1 .box-1.box-private {
    top: 44px;
    right: -11rem;
  }
}

/* search */
header nav .search-1 .box-5 {
  position: absolute;
  top: 56px;
  width: 20rem;
  right: 0rem;
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
}

header nav .search-1:hover .box-5 {
  opacity: 1;
  z-index: 1;
}

@media (max-width: 991.98px) {
  header nav .search-1 .box-5 {
    top: 44px;
    right: -11rem;
  }
}

header nav .search-1 .box-5 input::placeholder {
  transform: translateX(5px);
}

header nav .search-1 .box-5 input.form-control {
  padding: 0.6rem 0.9rem 0.6rem 1.9rem;
}

header nav .search-1 .box-5 .glass {
  transform: translate(10px, -34px);
  color: #77777752;
}

header nav .logout {
  position: absolute;
  right: -5.5rem;
  top: 2.5rem;
  background-color: white;
  border-radius: 4px;
  width: 9rem;
  height: 5rem;
  border: 1px solid rgba(0, 0, 0, .15);
  cursor: pointer;
  display: none;
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 1130.98px) {
  header nav .logout {
    right: -1rem;
  }
}

header nav .logout.open {
  display: inline-block;
}

header nav .logout ul li {
  margin-top: 6px;
  padding: 4px 0 0 8px;
}

header nav .logout ul li:hover {
  background-color: #eee;
}

header nav .logout svg {
  margin-right: 5px !important;
}


/* section 1 */
.section-1 {
  background-color: #F3F3F3;
}

.section-1 .h5 {
  font-weight: bold;
}

.section-1 .p-1 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 7px;
}

.section-1 .box {
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 1.8rem;
}

@media (max-width: 767.98px) {
  .section-1 .box {
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-1 .box img {
    width: auto !important;
  }

  .section-1 .box .p,
  .section-1 .box .p-1,
  .section-1 .box ul,
  .section-1 .box .content-2 {
    padding-left: 10px !important;
    text-align: start !important;

  }

  .section-1 .box .content-1 {
    width: auto !important;
  }
}

.section-1 .box img {
  border-radius: 15px;
  width: 130px;
  height: 130px;
  margin-right: 12px;
}

@media (max-width: 767.98px) {
  .section-1 .box img {
    height: 250px;
    margin-right: 0px;
  }
}

.section-1 .box .p {
  font-weight: bold;
  font-size: 15px;
}

.section-1 .box .p-1 {
  color: #1A1B38;
  font-size: 13px;
  margin-top: -10px;
}

.section-1 .box span.star {
  color: #FFA407;
  font-weight: bold;
  margin-left: 5px;
}

.section-1 .box span.star svg {
  margin-right: 3px;
}

.section-1 .box span.span-1 {
  color: #9F9F9F;
  font-size: 10px;
}

.section-1 .box ul {
  display: flex;
  padding-left: 0;
  color: #A3A3A3;
  font-weight: bold;
  margin-top: -10px;
  font-size: 13px;
  margin-bottom: 0;
}

.section-1 .box ul li {
  margin-left: 24px;
}

.section-1 .box .content-1 {
  width: 23rem;
}

.section-1 .box .content-2 a{
  width: 7rem;
  color: #9F007E;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.section-1 .box .content-3 {
  text-align: center;
  width: 5rem;
}

.section-1 .box .content-3 span {
  color: #9F007E;
  font-weight: bold;
}

.section-1 .box .content-3 del {
  color: #A3A5A8;
}


.section-1 .box-1 {
  background-color: white;
  padding: 20px 25px 14px 25px;
  border-radius: 20px;
}

.section-1 .box-1 .total {
  font-weight: bold;
  margin-bottom: 5px;
}

.section-1 .box-1 .span-2 {
  font-size: 36px;
  font-weight: bold;
  color: #9F007E;
}

.section-1 .box-1 del {
  color: #A3A5A8;
}

.section-1 .box-1 .input-1 {
  background-color: #9F007E;
  color: white;
  font-weight: bold;
  margin-top: 17px;
}

.section-1 .box-1 .Promotions {
  font-weight: bold;
  margin-top: 21px;
  margin-bottom: 7px;
}

.section-1 .box-1 button.apply {
  background-color: #9F007E;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.section-1 .box-1 .input-2::placeholder {
  font-size: 13px;
}

.section-1 .box-1 .input-2:focus {
  box-shadow: none;
  border-color: #ced4da;
}

/* section 1 */


/* section-5 */
.section-5 {
  margin-top: 8rem;
}

.section-5 p.p-26 {
  margin-bottom: -13px;
  font-size: 19px;
  font-weight: 900;
}

.section-5 .box {
  background-color: white;
  box-shadow: 0px 1px 1px #0000005c;
  margin-bottom: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.section-5 .box .image {
  max-width: 364px;
  height: 290px;
}

.section-5 .box .image .width {
  width: 100%;
  height: 100%;
}

.section-5 .box .content {
  padding: 8px;
}

@media (max-width: 767.98px) {
  .section-5 .box .content {
    padding: 8px 40px 8px 40px;
  }
}

@media (max-width: 515.98px) {
  .section-5 .box .content {
    padding: 8px;
  }
}

.section-5 .box .p1 {
  color: #1a1b38;
  font-size: 14px;
  margin: -7px 0 10px;
}

.section-5 .box .star {
  color: #ffa407;
}

.section-5 .box .content span:first-child {
  font-size: 11px;
  margin-left: 3px;
  color: #9f9f9f;
}

.section-5 .box .content span.number {
  color: rgb(255, 164, 7);
  margin-right: 3px;
  font-weight: bold;
}

.section-5 .box .content span.num {
  color: #9f9f9f;
  font-size: 12px;
}

.section-5 .box .content .end-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-5 .box .content .end-box .heart-private {
  width: 20px;
}

.section-5 .box .content .end-box .bar {
  font-size: 21px;
  color: #bcbcbc;
  margin-left: 8px;
  transform: translateY(4px);
  cursor: pointer;
}

.section-5 .box .content .end del {
  color: #a3a5a8;
  margin-right: 5px;
}

.section-5 .box .content .end span {
  font-weight: bold;
}

.section-5 .box .end {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
}

ul.slick-dots li {
  margin: 0 3px 0 3px;
}

ul.slick-dots li button {
  background-color: transparent;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid black;
}

ul.slick-dots li button:focus {
  background-color: #9f007e;
  color: white;
  border: 1px solid #9f007e;
}

.section-5 .box .content .end-box .heart-boxx {
  display: inline-block;
  cursor: pointer;
}

.section-5 .box .content .end-box .heart-boxx path.heart-box.focus {
  fill: red !important;
}

/* section 5 */
/* footer */
footer {
  background-color: #F8F8F8;
  margin-top: 8rem;
  padding: 40px 0 10px 0;
}

footer .active {
  color: #5D5D5E;
  font-weight: bold;
}

footer li {
  color: #5D5D5E;
  margin-top: 9px;
  cursor: pointer;
}

footer .icon svg {
  background-color: #9F007E;
  padding: 8px 11px;
  color: white;
  border-radius: 3px;
}

footer .pp {
  font-size: 12px;
}

footer ul.items {
  display: flex;
  justify-content: center;
}

footer ul.items li {
  font-size: 12px;
  margin-right: 7px;
  margin-left: 13px;
}

footer select {
  border: none;
  background-color: #F8F8F8;
  outline: none;
  cursor: pointer;
}

/* footer */
