@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,900&display=swap");

body {
    font-family: "Mulish", sans-serif;
}

header nav.navbar {
    padding: 0;
    background-color: #f8f8f8;
}

header nav .navbar-brand {
    width: 81px;
}

header nav ul li a {
    color: #2e2e2e !important;
    font-weight: 700;
    margin-right: 30px;
}

header nav .icons {
    display: flex;
    align-items: center;
}

header nav .icons .drop {
    position: relative;
    right: -15px;
}

@media (max-width: 991.98px) {
    header nav .icons .drop {
        position: relative;
        right: 0px;
    }
}

header nav .icons .imgs-2 {
    width: 25px;
    margin-top: -9px;
}

header nav .icons .search {
    color: #9f007e;
}

header nav .icons svg {
    margin-right: 30px;
    font-size: 18px;
    color: #2e2e2e;
}

header nav .icons img.profile {
    width: 25px;
}

header nav .basket .three {
    left: 1.3rem;
    background-color: red;
    height: 16px;
    width: 16px;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    top: 7px;
  }

  @media (min-width: 991px) and (max-width: 1200.98px) {
    header nav .basket .three {
      left: 1rem;
    }
  }

header nav .profile {
    width: 32px;
    margin-left: 20px;
    cursor: pointer;
}

header nav .profile-1::after {
    content: "";
    position: absolute;
    background-color: #00d900;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    right: 0px;
    top: 0px;
}

@media (min-width: 992px) and (max-width: 1200.98px) {
    header nav .profile-1::after {
        right: -22px;
        top: 3px;
    }

    header nav svg.baskets {
        width: 23px !important;
    }

    header nav svg.search {
        width: 20px;
    }

    header nav svg.bell {
        width: 19px;
    }

    header nav svg.heart {
        width: 20px;
    }

    header nav.navbar {
        padding: 10px;
    }
}

.navbar-light .navbar-nav .nav-link {
    line-height: 0.8;
}

header nav .bell:hover,
.heart:hover {
    fill: #9f007e;
    cursor: pointer;
}

header nav .search-1:hover path#search,
header nav .search-1:hover line#search,
header nav .basket-1:hover path#basket {
    stroke: #9f007e;
}

header nav .search-1:hover,
header nav .basket-1:hover {
    cursor: pointer;
}

.heart {
    width: 24px;
}

header nav svg.baskets {
    width: 30px;
}

header nav .box-1 {
    background-color: white;
    position: absolute;
    top: 63px;
    width: 26rem;
    right: 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #eee;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
}

@media (max-width: 991.98px) {
    header nav .box-1 {
        top: 50px;
        right: -4.5rem;
    }
}

@media (max-width: 470.98px) {
    header nav .box-1 {
        width: 21rem;
        right: -2.5rem;
    }

    header nav .button-2 {
        margin-left: 0px !important;
    }

    .heart-1 .box-1.box-private,
    header nav .heart-1 .box-1.box-private {
        right: -9.5rem !important;
    }

    header nav .box-4 {
        right: -6rem !important;
        width: 20rem !important;
    }

    header nav .search-1 .box-5 {
        width: 16rem !important;
    }
}

header nav .basket-1:hover .box-1 {
    opacity: 1;
    z-index: 1;
}

header nav .content-1 {
    margin-bottom: 32px;
}

header nav .box-1 .img-3 {
    border-radius: 15px;
    width: 65px;
    float: left;
    margin-right: 12px;
}

header nav p.pp {
    line-height: 1.3;
    font-weight: bold;
    font-size: 15px;
}

header nav p.pp-1 {
    font-size: 14px;
    color: #70718e;
    margin-top: -12px;
}

header nav p.pp-2 {
    margin-top: -12px;
    margin-bottom: 4px;
    font-weight: bold;
}

header nav del.pp-3 {
    margin-left: 17px;
    color: #b9a6a6;
    font-weight: 500;
}

header nav p.pp-4 {
    float: left;
    margin-right: 12px;
}

header nav span.pp-5,
header nav p.pp-4 {
    font-weight: bold;
}

header nav .button-1 {
    background-color: #9f007e !important;
    border-color: #9f007e;
    width: 47%;
    font-weight: bold;
    font-size: 15px;
}

header nav .button-2 {
    background-color: snow !important;
    color: #9f007e !important;
    border-color: #9f007e;
    width: 47%;
    font-weight: bold;
    font-size: 15px;
    margin-left: 18px;
}

/* bell */
header nav .box-4 {
    background-color: white;
    position: absolute;
    top: 57px;
    width: 22rem;
    right: 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #eee, 0px 0px 20px 0px #0a6d8d33;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
}

@media (max-width: 991.98px) {
    header nav .box-4 {
        top: 43px;
        right: -5rem;
    }
}

header nav .bell-1:hover .box-4 {
    opacity: 1;
    z-index: 1;
}

header nav .box-4 p.pp-6 {
    float: left;
    margin-right: 30px;
    background-color: #ffebfb;
    padding: 1px 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
}

header nav .box-4 h6 {
    margin-bottom: 15px;
    font-weight: bold;
}

header nav .box-4 img.img-fluid.man {
    float: left;
    width: 22%;
    margin-right: 10px;
}

header nav .box-4 .person {
    margin-top: 21px;
}

header nav .box-4 .person p {
    font-size: 15px;
    padding-top: 12px;
}

header nav .box-4 .person span {
    color: #686868;
    font-weight: 400;
}

/* heart */
header nav .heart-1 .box-1.box-private {
    opacity: 0;
    z-index: -1;
}

header nav .heart-1:hover .box-1.box-private {
    opacity: 1;
    z-index: 1;
}

header nav .heart-1 .box-1.box-private .img-4 {
    width: 5.5rem;
}

header nav .heart-1 .box-1.box-private {
    top: 57px;
}

@media (max-width: 991.98px) {

    .heart-1 .box-1.box-private,
    header nav .heart-1 .box-1.box-private {
        top: 44px;
        right: -11rem;
    }
}

/* search */
header nav .search-1 .box-5 {
    position: absolute;
    top: 56px;
    width: 20rem;
    right: 0rem;
    opacity: 0;
    z-index: -1;
    transition: 0.4s;
}

header nav .search-1:hover .box-5 {
    opacity: 1;
    z-index: 1;
}

@media (max-width: 991.98px) {
    header nav .search-1 .box-5 {
        top: 44px;
        right: -11rem;
    }
}

header nav .search-1 .box-5 input::placeholder {
    transform: translateX(5px);
}

header nav .search-1 .box-5 input.form-control {
    padding: 0.6rem 0.9rem 0.6rem 1.9rem;
}

header nav .search-1 .box-5 .glass {
    transform: translate(10px, -34px);
    color: #77777752;
}

header nav .logout {
    position: absolute;
    right: -5.5rem;
    top: 2.5rem;
    background-color: white;
    border-radius: 4px;
    width: 9rem;
    height: 5rem;
    border: 1px solid rgba(0, 0, 0, .15);
    cursor: pointer;
    display: none;
    font-size: 15px;
    font-weight: bold;
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: white;
    border-color: white;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    padding: 0rem 1.25rem 0.5rem;
}

ul.slick-dots li button {
    background-color: transparent;
    padding: 6px 17px 8px 15px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #707070;
    transition: 0.6s;
}

ul.slick-dots li button:hover{
    background-color: #F3F3F3;
}

ul.slick-dots li button:focus {
    background-color: #9f007e;
    color: white;
    border: 1px solid #9f007e;
}

@media (max-width: 1130.98px) {
    header nav .logout {
        right: -1rem;
    }
}

header nav .logout.open {
    display: inline-block;
}

header nav .logout ul li {
    margin-top: 6px;
    padding: 4px 0 0 8px;
}

header nav .logout ul li:hover {
    background-color: #eee;
}

header nav .logout svg {
    margin-right: 5px !important;
}

/* section 1 */

.section-1 .box {
    font-weight: bold;
    font-size: 70px;
    line-height: 1;
    margin-top: 10px;
}

@media (max-width: 991.98px) {
    .section-1 .box {
        font-size: 44px;
    }
}

.section-1 .box span {
    color: #9f007e;
}

.section-1 p {
    color: #a3a5a8;
}

.section-1 .content form input::placeholder {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: bold;
}

.section-1 .content form input {
    padding-left: 2rem;
}

.section-1 .content form svg {
    top: 31%;
    left: 10px;
    color: #bcbcbc;
}

.section-1 .content form button {
    top: 4px;
    right: 5px;
    background-color: #9f007e;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 11px;
    padding: 6px 15px 6px 15px;
}

/* section 1 */

/* .section-2  */
.section-2-private h1 {
    font-weight: 800;
    font-size: 28px;
    color: #171435;
    line-height: 1.2;
}

.section-2-private p {
    line-height: 1.3;
}

.section-2 .box {
    background-color: #ffffff;
    padding: 60px 30px 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #eee;
    position: relative;
    margin-top: 55px;
    width: 85%;
}

@media (max-width: 767.98px) {
    .section-2 .box {
        width: 100%;
    }
}

.section-2 .box::before {
    content: "";
    top: -25px;
    left: -25px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fffbec;
    z-index: -1;
    border-radius: 8px;
}

.section-2 .box-1::before {
    background-color: #f9ecff;
}

.section-2 .box-2::before {
    background-color: #eceeff;
}

.section-2 .box h5 {
    color: #9f007e;
    font-weight: bold;
    margin: 25px 0;
}

.section-2 .box p {
    color: #171435;
    line-height: 1.5;
}

/* .section-2 .box .polygon {
    position: absolute;
    top: -29px;
    left: 68px;
} */

.diamond::before {
    content: "";
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #ffb9012b;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.diamond.d2::before {
    border-bottom-color: #ffebfb;
}

.diamond.d3::before {
    border-bottom-color: #eceeff;
}

.diamond:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 84px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #ffb9012b;
    transform: translateX(-50%);
}

.diamond.d2:after {
    border-top-color: #ffebfb;
}

.diamond.d3:after {
    border-top-color: #eceeff;
}

.section-2 .box .search {
    position: relative;
}

/* .section-2  */

/* section-3 */
.section-3 .Number {
    position: relative;
}

.section-3 .Number::before {
    content: "";
    background-color: #9f007e;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-3 span {
    font-size: 43px;
    font-weight: bold;
    margin-left: 20px;
}

.section-3 .Number.margin {
    margin-bottom: 80px;
}

.section-3 .Number p {
    color: #828282;
    line-height: 1.1;
    margin-top: 22px;
    margin-left: 20px;
}

.section-3 .img-1 {
    width: 85%;
}

.section-3 .image::before {
    content: "";
    right: 35px;
    bottom: -35px;
    height: 75%;
    width: 82%;
    position: absolute;
    background-color: #ffebfb;
    z-index: -1;
}

/* section-3 */

/* section-4 */
.section-4 {
    margin-top: 8rem;
}

.section-4 .box {
    background-color: #ffffff;
    padding: 27px 27px 37px 27px;
    box-shadow: 0px 5px 20px 0px #0000ff17;
    border-radius: 8px;
    position: relative;
    margin-bottom: 40px;
}

.section-4 .box span {
    font-size: 19px;
    font-weight: bold;
    margin-left: 5px;
}

.section-4 .box .code {
    width: 21%;
}

.section-4 .box svg {
    position: absolute;
    right: 30px;
}

.section-4 .arrow {
    text-align: center;
}

.section-4 .arrow a {
    text-decoration: none;
    background-color: #9f007e;
    padding: 10px 50px;
    color: #ffffff;
    width: -17rem;
    border-radius: 4px;
    margin-top: 20px;
}

/* section-4 */
/* section-5 */
.section-5 {
    margin-top: 8rem;
}

.section-5 .box {
    background-color: white;
    box-shadow: 0px 1px 1px #0000005c;
    margin-bottom: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.section-5 .box .image {
    height: 300px;
    min-width: 300px;
}

.section-5 .box .image .width {
    width: 100%;
    height: 100%;
}

.section-5 .box .content {
    padding: 8px;
}

@media (max-width: 767.98px) {
    .section-5 .box .content {
        padding: 8px 40px 8px 40px;
    }
}

@media (max-width: 515.98px) {
    .section-5 .box .content {
        padding: 8px;
    }
}

.section-5 .box .p1 {
    color: #1a1b38;
    font-size: 14px;
    margin: -7px 0 10px;
}

.section-5 .box .star {
    color: #ffa407;
}

.section-5 .box .content span:first-child {
    font-size: 11px;
    margin-left: 3px;
    color: #9f9f9f;
}

.section-5 .box .content span.number {
    color: rgb(255, 164, 7);
    margin-right: 3px;
    font-weight: bold;
}

.section-5 .box .content span.num {
    color: #9f9f9f;
    font-size: 12px;
}

.section-5 .box .content .end-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-5 .box .content .end-box .heart-private {
    width: 20px;
}

.section-5 .box .content .end-box .bar {
    font-size: 21px;
    color: #bcbcbc;
    margin-left: 8px;
    transform: translateY(4px);
    cursor: pointer;
}

.section-5 .box .content .end del {
    color: #a3a5a8;
    margin-right: 5px;
}

.section-5 .box .content .end span {
    font-weight: bold;
}

.section-5 .box .end {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
}

ul.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
}

ul.slick-dots li {
    margin: 0 3px 0 3px;
}


ul.slick-dots li button:focus {
    background-color: #9f007e;
    color: white;
    border: 1px solid #9f007e;
}

.section-5 .box .content .end-box .heart-boxx {
    display: inline-block;
    cursor: pointer;
}

.section-5 .box .content .end-box .heart-boxx path.heart-box.focus {
    fill: red !important;
}



/* section-5 */

/* section 6 */
.section-6 {
    margin-top: 8rem;
}

.section-6 form .email {
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
}

.section-6 form input,
.section-6 form textarea {
    background-color: #f8f8f8;
    box-shadow: none !important;
}

.section-6 form .submit {
    background: #9f007e;
    color: white;
    font-weight: bold;
    border: none !important;
    box-shadow: none;
    margin-top: 20px;
}

.section-6 form .text-area {
    height: 10rem;
}

.section-6 .p1 {
    font-size: 13px;
}

.section-6 .location svg {
    color: #9f007e;
    font-size: 24px;
    cursor: pointer;
}

.section-6 .location .location-1 {
    left: 15%;
    top: 30%;
}

.section-6 .location .location-2 {
    left: 30%;
    top: 25%;
}

.section-6 .location .location-3 {
    left: 32%;
    top: 45%;
}

.section-6 .location .location-4 {
    left: 41%;
    top: 35%;
}

.section-6 .location .location-5 {
    left: 57%;
    top: 48%;
}

.section-6 .location .location-6 {
    left: 70%;
    top: 60%;
}

.section-6 .location .location-7 {
    left: 55%;
    top: 67%;
}

.section-6 .location .location-8 {
    left: 44%;
    top: 74%;
}

/* section 6 */
/* footer */
footer {
    background-color: #f8f8f8;
    margin-top: 8rem;
    padding: 40px 0 10px 0;
}

footer .active {
    color: #5d5d5e;
    font-weight: bold;
}

footer li {
    color: #5d5d5e;
    margin-top: 9px;
    cursor: pointer;
}

footer .icon svg {
    background-color: #9f007e;
    padding: 8px 11px;
    color: white;
    border-radius: 3px;
}

footer .pp {
    font-size: 12px;
}

footer ul.items {
    display: flex;
    justify-content: center;
}

footer ul.items li {
    font-size: 12px;
    margin-right: 7px;
    margin-left: 13px;
}

footer select {
    border: none;
    background-color: #f8f8f8;
    outline: none;
    cursor: pointer;
}


/* footer */
